absl-py
astunparse
blinker
breadability
cachetools
certifi
chardet
charset-normalizer
click
colorama
docopt
filelock
Flask
flatbuffers
fsspec
gast
gensim
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
itsdangerous
Jinja2
joblib
keras
libclang
lxml
Markdown
MarkupSafe
ml-dtypes
mpmath
networkx
nltk
numpy
oauthlib
opt-einsum
packaging
protobuf
pyasn1
pyasn1-modules
pycountry
PyYAML
regex
requests
requests-oauthlib
rsa
safetensors
scikit-learn
scipy
six
smart-open
sumy
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tokenizers
toolz
torch
tqdm
transformers
typing_extensions
urllib3
Werkzeug
wrapt
zipp
gunicorn